{% extends 'base.html' %}
{% block content %}
<h1>INDEX</h1>

<a href="{% url 'articles:create' %} ">[CREATE]</a>
<hr>

{% for article in articles  %}
    {% comment %} 좋아요 버튼 {% endcomment %}
    <div>
        <form action="{% url 'articles:likes' article.pk %}" method ="POST">
            {% csrf_token %}
            {% if request.user in article.like_users.all %}
                <input type="submit" value="좋아요 취소">
            {% else %}
                <input type="submit" value="좋아요">
            {% endif %}
        </form>
    </div>

    {% comment %} 게시글 아이디,제목 표기 {% endcomment %}
    <p>
        [{{article.id}}] <a href="{% url 'articles:detail' article.pk %}">{{article.title}}</a><br>
        {% comment %} 필터기능추가연습 [{{article.id}}] <a href="{% url 'articles:detail' article.pk %}">{{article.title|my_filter}}</a><br>  {% endcomment %}
        - 작성자: <a href="{% url 'accounts:profile' article.user.username %}">{{article.user}}</a>
    </p>
{% endfor %}


{% endblock content %}